[submodule "repo"]
	path = .repo
	url = https://github.com/kisslinux/repo
[submodule "badWolf"]
	path = badWolf
	url = https://gitlab.com/lanodan/badWolf.git
[submodule "tuitube"]
	path = tuitube
	url = https://gitlab.com/djt3/tuitube
